body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f2f2f2;
  font-family: sans-serif;
}

.calculator {
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  height: 60px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  height: 60px;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.404);
  background: #74afe6;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #d0d0d0;
}

.zero {
  grid-column: span 2;
}
